table {
    border-collapse: collapse;
    margin: 20px 0;
  }
  
  thead {
    background-color: #f2f2f2;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  th {
    font-weight: bold;
  }